---

---

<button class="astro-button">Click Me!</button>

<script>
  const button = document.querySelector(".astro-button");
  button?.addEventListener("click", () => {
    alert("Has pulsado el botón hecho en Astro");
  });
</script>
