---
import BackButton from "../components/BackButton.astro";
const { title } = Astro.props;
---

<style>
  body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
    background-color: black;
    color: white;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div>
      <h1>{title}</h1>
      <BackButton />
    </div>

    <slot />
    <!-- tu contenido es inyectado aquí -->
  </body>
</html>
